.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul.Hand, ul.Hand li {
  list-style: none;
  display: flex;
}

ul.Hand {
  justify-content: center;
  flex-direction: row;
}

ul.Hand li {
  margin: 1.5em;
}

.ActionButton {
  margin: 0 5px;
}
